---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mentions Légales - Revontuli">
  <main>
    <section>
      <h1>Mentions légales</h1>
      <div>
        <h2>Éditeur du site</h2>
        <p>
          Le site revontuli.fr est édité par :<br/>
          Raison sociale : Tristan TORNATORE<br/>
          Statut juridique : Auto-entrepreneur<br/>
          Siège social : 142 rue des sources, 14200 Hérouville Saint Clair, FRANCE<br/>
          RCS : Caen<br/>
          Siret : 82183322500039<br/>
          Numéro de TVA intracommunautaire : FR 53821833225<br/>
        </p>
      </div>
      <div>
        <h2>Directeur de la publication</h2>
        <p>
          Le directeur de la publication du site revontuli.fr est :<br/>
          Personne physique : Tristan TORNATORE<br/>
          Mail : tristan@revontuli.fr<br/>
        </p>
      </div>
      <div>
        <h2>Hébergement du site</h2>
        <p>
          Le site revontuli.fr est hébergé par :<br/>
          Raison sociale : DigitalOcean LLC<br/>
          Siège social : Duarte Square, Sullivan St, New York, NY 10013, United States<br/>
          Téléphone : +1.6463978051<br/>
        </p>
      </div>
      <div>
        <h2>Conditions générales d'utilisation</h2>
        <p>
          Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».<br/>


  En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.<br/>

revontuli.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.<br/>
        </p>
      </div>
          <div>
        <h2>Définitions</h2>
        <p>
          La présente clause a pour objet de définir les différents termes essentiels du contrat :<br/><br/>

          Utilisateur : ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.<br/>

          Contenu utilisateur : ce sont les données transmises par l'Utilisateur au sein du site.<br/>

          Identifiant et mot de passe : c'est l'ensemble des informations nécessaires à l'identification d'un Utilisateur sur le site. <br/>L'identifiant et le mot de passe permettent à l'Utilisateur d'accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  h1 {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.8rem;
  }
</style>