<section>
  <div class="section-cta">
    <h2>Discutons de votre projet de création de site wordpress ensemble !</h2>
    <img src="/img/tristan-tornatore-fondateur-revontuli-developpeur-wordpress.jpeg" alt="tristan-tornatore-fondateur-revontuli-developpeur-wordpress" width="80">
    <p>Prenez rendez-vous gratuitement pour discuter de vos objectifs. 30 minutes offertes de conseils avec Tristan, ancien responsable de Google for Sartups et expert en Acquisition digitale et développement de site wordpress.</p>
    <a href="https://cal.com/tristantornatore/30min" target="_blank" class="btn">Je prends un RDV gratuit</a>
  </div>
</section>

<style>
  section {
    text-align: center;
    background-color: #FFE3D730;
  }
  img {
    border-radius: 50%;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2rem 0;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
  @media screen and (min-width: 768px){
    h2 {
      font-size: 2rem;
    }
      p {
      font-size: 1.1rem;
      line-height: 2rem;
      text-align: center;
    }
    .section-cta {
      max-width: 600px;
      margin: 4rem auto;
    }
    .btn {
      margin-top: 2rem;
    }
  }
</style>