<footer>
  <section>
    <div>
      <h2>Revontuli 🦊 <br /> Agence Web Wordpress</h2>
      <p>Caen - Paris</p>
    </div>
  </section>
  <section class="copyright">
    <p>2024 - Site réalisé par Revontuli</p>
  </section>
</footer>

<style>
  footer {
    text-align: center
  }
  p {
    font-size: 0.8rem;
  }
</style>