<header>
  <section>
    <nav>
      <img src="/logo-revontuli-studio-creation-web.svg" width="80" alt="logo-revontuli-studio-creation-web">
      <ul>
        <li>
          <a href="#" class="btn">Nous contacter</a>
        </li>
      </ul>
    </nav>
  </section>
</header>

<style>
  header {
    padding: 20px 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>