		<section>
			<div class="section-services">
				<div class="section-services__header">
					<h2>Nos services et nos compétences pour votre projet de création de site WordPress</h2>
				</div>
			<div class="service-list">
				<div class="service-card">
					<h3>Brief stratégique</h3>
					<p>Tout commence par des conseils d'expert. Nous discutons ensemble de votre entreprise, vos envies, vos ambitions et vos objectifs. Ce premier point est essentiel pour vous guider au mieux dans votre projet sur mesure. Avec notre expérience de plus de 400 entreprises accompagnées, soyez certain de bénéficier des meilleurs conseils en toute franchise.</p>
				</div>
				<div class="service-card">
					<h3>Design UX/UI</h3>
					<p>Notre force, être à l'écoute de vos clients. Avec une expertise dans le domaine de l'expérience utilisateur, nous concevons avec vous les maquettes idéales pour votre site internet. Vous devenez donc acteur de votre projet. Fini les limites imposées par les outils et les thèmes hasardeux. Entre votre vision et notre expertise, nous créons ensemble le site internet qui vous ressemble.</p>
					</p>
				</div>
				<div class="service-card">
					<h3>Développement Mobile First</h3>
					<p>Avoir un site internet adapté aux smartphones, ce n'est plus une option. 65% des utilisateurs de votre site internet se connecterons depuis un mobile. Nous allons plus loin. Nous pensons l'expérience mobile en premier ! C'est la recommandation de Google et la manière la plus logique de concevoir votre site.</p>
					</p>
				</div>
				<div class="service-card">
					<h3>Statistiques et RGPD</h3>
					<p>Le site wordpress vous est livré clé en main. Pour vous permettre de mesurer l'impact de toutes vos actions digitales avec précision, nous installons le système de suivi idéal pour mesurer vos performances (Google Analytics 4 ou Matomo). De plus nous installons pour vous le système requis pour respecter la RGPD.</p>
					</p>
				</div>
				<div class="service-card">
					<h3>Formation à WordPress</h3>
					<p>Nous développons votre thème et vos fonctionnalités sur mesure. Et nous avons à coeur de vous rendre autonome sur la totalité de la gestion de contenu de votre site. Avec la formation, vous êtes assuré d'avoir tout ce qu'il faut pour modifier, ajouter des contenus et maintenir votre site internet sans aucune dépendance. </p>
					</p>
				</div>
				<div class="service-card">
					<h3>Sécurité et sauvegardes</h3>
					<p>Nos sites sont livrés avec tous les outils nécéssaires à la cybersécurité de votre site pour éviter les piratages. Nous mettons en place toutes les options pour éviter tous les désagréments. De plus, une sauvegarde hebdomadaire de votre site est réalisée pour palier à toutes les options et vous assurer que jamais vous ne perdrez votre WordPress.</p>
					</p>
				</div>
			</div>
			<div class="cta-section">
				<a href="#" class="btn">Discuter de votre projet avec un expert</a>
			</div>
		</div>
			

		</section>

<style>
	section {
		background-color: #FFE3D740;
	}
  .service-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2rem;
		padding: 2rem 5%;
	}
	.service-card {
		padding: 2rem;
		background-color: #fff;
		border-radius: 0.25rem;
	}
	.service-card h3 {
		font-size: 1.5rem;
	}
	.service-card p {
		font-size: 0.9rem;
		line-height: 1.6rem;
	}
	.cta-section {
		padding: 2rem 5%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media screen and (min-width: 968px){
		section {
			background-color: #fff;
		}
    .section-services {
      display: flex;
      position: relative;
      margin: 3rem auto 6rem auto;
			gap: 40px;
    }
    .section-services__header {
      flex: 0 0 30%;
    }
		.service-list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-gap: 2rem;
			padding: 0 0;
		}
		.service-card {
			padding: 0rem;
			background-color: #fff;
			border-radius: 0.25rem;
		}
		.cta-section {
			position: absolute;
			bottom: -10%;
			left: 50%;
			transform: translateX(-50%);
			font-size: 0.8rem;
			text-align: center;
		}
		.service-card h3 {
			font-size: 1.1rem;
		}
		.service-card p {
			font-size: 0.8rem;
			line-height: 1.4rem;
		}
  }
	@media screen and (min-width: 1200px) {
		.cta-section {
			top: 40%;
			left: 0;
			bottom: 100%;
			transform: translateX(0);
			padding: 0 0;
		}
  }
  </style>