---
interface Props {
	title: string;
}
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=GTM-KW8R9VZR"></script>
		<!-- Google Tag Manager -->
		<script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KW8R9VZR');</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script type="module" src="/src/fichierjs/main.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@import url("https://use.typekit.net/lhb8tjv.css");
	body {
		font-family: "area-normal", sans-serif;
    font-weight: 400;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: #212A3D;
		overflow-x: hidden;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	section {
		padding: 2rem 5%;
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
	.btn {
		display: inline-block;
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
		font-weight: 700;
		background-color: #212A3D;
		color: #fff;
	}
	.link {
		display: inline-block;
		color: #212A3D;
		font-weight: 700;
		padding-bottom: 0.25rem;
		border-bottom: 2px solid #212A3D;
	}
	@media screen and (min-width: 768px) {
		section {
			padding: 2rem 14%;
		}
		.btn, .link {
			font-size: 0.8rem;
		}
	}
</style>
